@{
    ViewData["Title"] = "Locate";
}

<div class="container">
    <h2>Locate Us</h2>
    <p>Use the below map to find us at the below address</p>
</div>

<hr class="featurette-divider" />

<div class="row d-flex">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <iframe id="map" src="https://maps.google.com/maps?q=Adelaide&t=&z=16&ie=UTF8&iwloc=&output=embed" frameborder="1" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                    <h3>Vetinary Address</h3>
                    <p>Adelaide, SA, 5000</p>
                <hr class="featurette-divider"/>
                    <h3>Contact Details</h3>
                    <p>Ph: (01) 2345 6789</p>
            </div>
        </div>
    </div>
</div>
