@using VetWebApp.Controllers;
@model VetWebApp.Models.StateInfoModel;

@{
    ViewData["Title"] = "Admin Page";
}
<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServerState)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.ServerState)
            {
                <div>
                    @item
                </div>
            }
        </dd>
    </dl>
    <dl class="row">
        <dt></dt>
    </dl>
</div>