@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
<div class="card-group">
    <div class="card">
        <div class="card-header">
            <img src="~/Content/img/staff1.png" class="card-img-top" alt="..."/>
        </div>
        <div class="card-body">
            <h4 class="card-title">Harvey</h4>
            <p class="card-text">Harvey manages our front desk and oversees any bookings or enquiries.</p>
            <p class="card-text">On the weekends Harvey likes to assist where he can with any local injuries.</p>
        </div>
        <div class="card-footer">
            <a href="LocateUs" class="btn btn-primary">Book with Harvey</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="~/Content/img/staff2.png" class="card-img-top" alt="..." />
        </div>
        <div class="card-body">
            <h4 class="card-title">Abigail</h4>
            <p class="card-text">Abigail is the manager at our local vet</p>
            <p class="card-text">On the weekends Abigail likes to look for pretty stones.</p>
        </div>
        <div class="card-footer">
            <a href="LocateUs" class="btn btn-primary">Book with Abigail</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="~/Content/img/staff3.jpg" class="card-img-top" alt="..." />
        </div>
        <div class="card-body">
            <h4 class="card-title">Gus</h4>
            <p class="card-text">Gus is our resident vet</p>
            <p class="card-text">On the weekends Gus likes to volunteer at the local bar and serve drinks to everyone.</p>
        </div>
        <div class="card-footer">
            <a href="LocateUs" class="btn btn-primary">Book with Gus</a>
        </div>
    </div>
</div>