@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Services";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>View our available services below</p>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Surgery</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-sm-5">
        <img class="ratio ratio-4x3" src="~/Content/img/surgery.jpg" alt="Doctors performing surgery" />
    </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="mt-0 mb-1">Wellness Exams</h2>
        <p class="lead">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
    </div>
    <div class="col-sm-5 order-md-1">
        <img class="ratio ratio-4x3" src="~/Content/img/wellness.png" alt="Vet performing examination on dog's ear" />
    </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Farm Vists</h2>
        <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
    </div>
    <div class="col-sm-5 order-md-1">
        <img class="ratio ratio-4x3" src="~/Content/img/cow.jpg" alt="Baby cow staring at the camera" />
    </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="mt-0 mb-1">Microchipping</h2>
        <p class="lead">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
    </div>
    <div class="col-sm-5 order-md-1">
        <img class="ratio ratio-4x3" src="~/Content/img/microchip.jpg" alt="A picture of a small pill shaped object representing an animal microchip" />
    </div>
</div>

<hr class="featurette-divider" />