@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Services";
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>View our available services below</p>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Surgery</h2>
        <p class="lead">We can perform sterile surgeries including soft tissue surgery and orthopaedic operations. We also perform non-sterile surgeries such as bite wounds.</p>
    </div>
    <div class="col-sm-5">
        <img class="ratio ratio-4x3" src="~/Content/img/surgery.jpg" alt="Doctors performing surgery" />
    </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="mt-0 mb-1">Wellness Exams</h2>
        <p class="lead">A wellness exam is a type of preventative care. Focusses on maintaining wellness and stopping health problems before they occur. Instead of waiting until it does.</p>
    </div>
    <div class="col-sm-5 order-md-1">
        <img class="ratio ratio-4x3" src="~/Content/img/wellness.png" alt="Vet performing examination on dog's ear" />
    </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Farm Vists</h2>
        <p class="lead"> Under special circumstances we may travel outside this area, but please call to discuss your needs.</p>
    </div>
    <div class="col-sm-5 order-md-1">
        <img class="ratio ratio-4x3" src="~/Content/img/cow.jpg" alt="Baby cow staring at the camera" />
    </div>
</div>

<hr class="featurette-divider" />

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="mt-0 mb-1">Microchipping</h2>
        <p class="lead">A microchip is a permanent method of electronic identification. Each chip has a unique number that is detected using a microchip scanner.</p>
    </div>
    <div class="col-sm-5 order-md-1">
        <img class="ratio ratio-4x3" src="~/Content/img/microchip.jpg" alt="A picture of a small pill shaped object representing an animal microchip" />
    </div>
</div>

<hr class="featurette-divider" />