html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;       /*  this line fixed the border not sticking when content runs off page */
}

body {
    margin-bottom: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.card-title {
    border-radius: 20px;
}

hr {
    opacity: 0.25;
}

.featurette-divider {
    margin: 5rem 0;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;    
}

/*  Google Map */
#map {
    display: flex;
    background-color: grey;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
