@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<div class="card-group">
    <div class="card">
        <img src="img/staff1.png" class="card-img-top" alt="..."/>
        <div class="card-body">
            <p class="card-text">
            <h5 class="card-title">Harvey</h5>
                Harvey manages our front desk and oversees any bookings or enquiries
                <br />
                On the weekends Harvey likes to assist where he can with any local injuries.
            </p>
        </div>
    </div>
    <div class="card">
        <img src="img/staff2.png" class="card-img-top" alt="..."/>
        <div class="card-body">
            <h5 class="card-title">Abigail</h5>
            <p class="card-text">
                Abigail is the manager at our local vet
                <br />
                On the weekends Abigail likes to look for pretty stones.
            </p>
        </div>
    </div>
    <div class="card">
        <img src="img/staff3.jpg" class="card-img-top" alt="..."/>
        <div class="card-body">
            <h5 class="card-title">Gus</h5>
            <p class="card-text">
                Gus is our resident vet
                <br />
                On the weekends Gus likes to volunteer at the local bar and serve drinks to everyone.
            </p>
        </div>
    </div>
</div>
